<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FrbaOfertas.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FrbaOfertas.Configuracion" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="servidor" value="localhost" />
    <add key="usuario" value="gdCupon2019" />
    <add key="password" value="gd2019" />
    <add key="fecha" value="2019-01-01 00:00:00,000" />
  </appSettings>
  <applicationSettings>
    <FrbaOfertas.Settings1>
      <setting name="Fecha_Sistema" serializeAs="String">
        <value>11/07/2019 09:16:00</value>
      </setting>
    </FrbaOfertas.Settings1>
  </applicationSettings>
  <userSettings>
    <FrbaOfertas.Configuracion>
      <setting name="Fecha_Sistema" serializeAs="String">
        <value>11/07/2019 09:16:00</value>
      </setting>
    </FrbaOfertas.Configuracion>
  </userSettings>
</configuration>